html {
	scroll-behavior: smooth;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	div#card-container.row {
		justify-content: center;
	}
}



body {
	background-color: antiquewhite;
}

h1 {
	color: #fff;
	margin: 40px 0 60px 0;
	font-weight: 300;
}

.jumbotron {
	position: relative;
	background-image: url('image/04tplp004.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.jumbotron::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Overlay gelap */
	z-index: 1;
}

.jumbotron .content {
	position: relative;
	z-index: 2;
	text-align: center;

}

.jumbotron h1 {
	font-size: 4rem;
}

.jumbotron p {
	font-size: 1.5rem;
}

.container.content {
	text-align: center;
}
.container.content.sub{
	/* background-color: antiquewhite; */
}

.display-4.member {
	color: black;
	font-size: 2rem;
}



#card-container {
	text-align: center;
	margin: 10px;
	justify-content: space-between;
	/* background-color: antiquewhite; */
}


.card-img-top {
	object-fit: cover
}

.card {
	object-fit: cover;
	margin-bottom: 20px;
	box-shadow: 3px 3px 15px -6px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 3px 3px 15px -6px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 3px 3px 15px -6px rgba(0, 0, 0, 0.9);
	transition: .5s;
	width: 10rem;
}

@media (min-width: 768px) {
	.card {
		width: 18rem; /* ukuran untuk desktop */
	}
}

.card:hover {
	box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.9);
	transform: scale(1.05);
}

.tombol-lihat {
	transition: .5s;
	background-color: rgb(204, 210, 214);
}

.tombol-lihat:hover {
	transform: scale(1.4);
	background-color: lightskyblue;

}

.permanent-marker-regular {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
  }

  .oleo-script-swash-caps-regular {
	font-family: "Oleo Script Swash Caps", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .oleo-script-swash-caps-bold {
	font-family: "Oleo Script Swash Caps", serif;
	font-weight: 700;
	font-style: normal;
  }

  .silkscreen-regular {
	font-family: "Silkscreen", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .silkscreen-bold {
	font-family: "Silkscreen", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  